body {
    width: 340px;
    overflow-x: hidden;
    height: 120px;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #ffffff;
}

h3 {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 15px;
    color: #e62117;    
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

img {
    vertical-align: middle;
    margin: -4px 5px auto;
}

select {
    width: 100%;
    border-radius: 3px;
    height: 32px;
    border-color: #888888;
    opacity: .5;
    margin-bottom: 15px;
    padding: 0 10px;
}